/* style.css */

html {
    scroll-behavior: smooth;
}

body {
  background-image: url('/static/core/images/homeBG.JPG');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
  /* padding-top: 70px; */
  margin: 0;
  color: rgb(70, 70, 70);
}

h2 {
  text-align: center;
  color: #ffffff;
  font-weight: bold;
}

.mb-3{
  text-align: center;
}

/* Glass effect container */
.glass-menu {
  background: rgba(0, 0, 0, 0.4); /* Transparent white */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 0 0 16px 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  padding: 1rem 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  z-index: 999;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-left: 10%;
  margin-right: 10%;
}

.navbar .nav-link,
.navbar .navbar-brand {
  color: white !important;
}

/* Add top spacing to body content */



/* Optional hover effect for buttons */
.glass-menu .btn:hover {
  background-color: #1a1a1a;
}

/*--------------------HOME SECTIONS---------------------------*/



#all-sections{
  
  -webkit-backdrop-filter: blur(10px);   /* Safari support */
  border-radius: 16px;                   /* rounded corners */
  border: 0px solid rgba(255, 255, 255, 0.2); subtle border
  padding: 2rm;                         /* padding all sides */
  /* box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25); subtle shadow */
}

#all-sectionss{
  background: rgba(255, 255, 255, 0.6); /* semi-transparent white */
  backdrop-filter: blur(10px);           /* blur effect */
  -webkit-backdrop-filter: blur(10px);   /* Safari support */
  border-radius: 16px;                   /* rounded corners */
  border: 1px solid rgba(255, 255, 255, 0.2); /* subtle border */
  padding: 2rm;                         /* padding all sides */
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25); /* subtle shadow */
  margin-top: 200px;
  margin-bottom: 60px;
}